@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;800&display=swap');
:root{
    --textColor: #D5F5F6;
    --bgColor: #1A1A1A;
}

*{
    font-family: 'Tektur', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
main{
    background: var(--bgColor);
    color: var(--textColor);
    width: 100px;
    min-width: 300px;
    max-height: 600px;
    padding: 5px;
}
header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10%;
    border-bottom: 1px solid var(--textColor);
}
header>i:hover{
    cursor: pointer;
    opacity: 0.5;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: bold;
    padding: none;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
}
nav>i{
    opacity: 0.5;
    color: var(--textColor);

}
nav>i:hover{
    opacity: 1;
    cursor: pointer;
}
form{
    display: flex;
    margin-left: 5px;
    gap: 10px;
}
form>input{
    width: 150px;
    border: none;
    background-color: var(--bgColor);
    color: var(--textColor);
}

form>input:hover{
    opacity: 0.5;
    border: none;
    cursor: pointer;
}
form>input:focus{
    border: none;
    outline: none;
}
form>button{
    border: none;
    opacity: 0.5;
    background-color: var(--bgColor);
    color: var(--textColor);
    
}
form>button:hover{
    opacity: 1;
    cursor: pointer;
}

.addIconList{
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.addIconList>button{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
}
.addIconList>button:hover{
    opacity: 0.5;
    cursor: pointer;
}


